body {
    background: #dbdbdb;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    box-sizing: border-box;
}

header {
    background: white;
    padding: 10px;
}

header h1 {
    margin: 0;
}

div.post {
    background: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.post img {
    width: 100%;
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: gray;
}

div.post h2, div.post p {
    padding: 10px;
    margin: 0;
    margin-left: 10px;
}

div.container {
    width: 600px;
    margin: auto;
}

div.post:last-of-type img {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
